#body{
    background-color: rgb(0,0,15);
  }
  p {
    color: white;
  }
  h1{
    color: white;
  }
  #nav{
    background-color: rgb(229,9,20);
  }

  #tema{
    color: white;
    background-color: rgb(229,9,20);
  }
  #temab{
    color: white;
    background-color: rgb(0,0,15);
  }
  #jumb{
    background-color: rgb(0,0,15);
    border-color: white;
    border: groove;
    border-radius: 15px;
  }
  #collapseExample{
    border-radius: 8px;
    border-color: white;
    border: groove;
  }
button{
  margin: 0 10px;
}

#b1{
    background-color: rgb(229,9,20);
  }
#c1{
    background-color: rgb(0,0,15);
    border: groove;
    border-color: blanchedalmond;
}
#a1{
    background-color: rgb(229,9,20);
    border: groove;
    border-color: blanchedalmond;
}