<!DOCTYPE html>
<html>
  <head>
  
    
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aframe/0.7.1/aframe.js"></script>
    <style>
      
    </style>
  </head>
  <body>
    
    <a-scene>
      <a-sky src="../../static/img/mercado-AR.jpg"></a-sky>  
      <a-video src="../../static/audios/Audio-AR.mp3"></a-video>
      <a-text font="kelsonsans"  value="Put your headphones" width="20" position="-4 9 -2"
      ></a-text>
      <a-text font="kelsonsans" style="border: groove;" value="Vegetables" width="30" position="-1 -1 19" rotation="0 150 0" scale="" visible="" text=""></a-text>
      <a-text font="kelsonsans" value="Fruits" width="20" position="-7 5 -3" rotation="0 20 0" scale="" visible="" text=""></a-text>
     
      <a-text font="kelsonsans" value="Basket" width="30" position="14 -6 6" rotation="-10 250 0" scale="" visible="" text=""></a-text>     
     
      <a-text font="kelsonsans" style="border: groove;" value="Hand Sanitizer" width="30" position="-14 -4 19" rotation="0 150 0" scale="" visible="" text=""></a-text>


      
      <a-camera position="0 7 5">
        <a-cursor color="#FF0000"></a-cursor>
      </a-camera>

      


    </a-scene>

      


    <script>
     
      

    </script>
  </body>
</html>