<div id="content">A phrasal verb is a combination of words (a <b>verb</b> + a <b>preposition</b> or <b>verb</b> + <b>adverb</b>) that when used together, usually take on a different meaning to that of the original verb.
Check out a few examples:</div>
<br>
<ul>
    <li>Ella <b>tore up </b>the letter after she read it.</li>
    <li>Their car <b>broke down</b> two miles out of town</li>
    <li>We <b>left out </b> the trash for pickup.</li>
</ul>
<br>
<div id="content">We often use verbs with the following words to create phrasal verbs:</div>

<div id="content">In, on, up, away, about, over, by, out, off, down, back, through, along, forward.</div>

<div id="content">Complete each sentence using a verb mentioned above:</div>


<br>