<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>Sign Up</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/login.css">
    
    
       
      </head>
      <body class="text-center" style="background-color: #e5e5e5;">
    
        <form action="/signup" method="POST" class="form-signin bg-dark" style="border-radius: 8px;">
    
          <img class="mb-4" src="../static/img/englix.png" alt="" width="100">
          <h1 class="h3 mb-3 font-weight-normal text-light">Please sign up</h1>
    
          <label for="inputEmail" class="sr-only" style="border-radius: 8px;">Name</label>
          <input type="name" name="name" id="inputName" style="border-radius: 8px;" class="form-control" placeholder="Name" required autofocus>
    <BR></BR>
          <label for="inputEmail" class="sr-only" style="border-radius: 8px;">Email address</label>
          <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" style="border-radius: 8px;" required autofocus>
          <BR>  </BR>
    
          <label for="inputPassword"  class="sr-only">Password</label>
          <input type="password" style="border-radius: 8px;" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
          <div class="checkbox mb-3">
            <label>

            </label>
          </div>
          <button class="btn btn-lg btn-block" style="color:white; background-color: rgb(229,9,20);" type="submit">Sign in</button>
    
        </form>
      </body>
</html>
