<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/index.css">

    <title>index Englix</title>
  </head>
  <body>
  <header>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
      <button class="navbar-toggler center" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon center"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="display: flex" > 
          <a class="navbar-brand" href="{{ url_for('englix.index') }}">
            <img src="../static/img/home-24px.svg" width=40 height="28" class="d-inline-block align-top" alt="">
            Home
          </a>
          <!-- <a class="navbar-brand" href="#">
            <img src="../static/img/menu_book-24px.svg" width=40 height="28" class="d-inline-block align-top" alt="">
            Lessons
          </a>
          
          -->
        
        <a class="navbar-brand"  href="{{ url_for('englix.signup') }}" type="submit">
          <img src="../static/img/account_circle-24px.svg" id="sigin" width=40 height="28" class="d-inline-block align-top" alt="">
            Sing Up
        </a>
      </ul>
          <a class="navbar-brand" href="{{ url_for('englix.login') }}" type="submit">
          <img src="../static/img/supervised_user_circle-24px.svg" id="sigin" width=40 height="28" class="d-inline-block align-top" alt="">
            Log In
        </a>
<!--       
        <a class="navbar-brand" type="submit">
          <img src="../static/img/exit_to_app-24px.svg" width=40 height="28" class="d-inline-block align-top" alt="">
            Logout
        </a> -->
       
      </div>
    </nav>
  </header>
    
    <div class="container">
    <div class="Englix" >
    <a class="navbar-brand" id="title-1" href="#"><img src="../static/img/englix.png" style="width: 200px;"></a>
  </div>
    <div id="centro" class="jumbotron rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-bold">Upgrade your english skills with Englix!</h1>
        <h4 class="lead my-3">Learn watching clips from series and movies.</h4>
        <p class="lead mb-0"><a href="{{ url_for('englix.signup') }}" class="text-white font-weight-bold">Sign Up!</a></p>
       
      </div>
    </div>
    <br><br><br>



    <div class="row container marketing">
      <div class="row mx-auto" style="width: 1650px;">
      
        <div class="col-lg-4">

      
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Lessons</h2>
        <p>We make learning fun! Our activities contains clips from tv series and movies, it's a real-life experience.</p>
       
      </div><!-- /.col-lg-4 -->






      <div class="col-lg-4 ">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Immersive Activities</h2>
        <p>Experience a new way of learning with Immersive Activities.</p>
        
      </div><!-- /.col-lg-4 -->
    </div>
    </div><!-- /.row -->
  </div>
</div>  
    

    <br>
    <br>
    <br>
    <br><br>
    <footer class="pt-4 my-md-5 pt-md-5 border-top" >
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
          
        </div>
        <div class="col-6 col-md">
          <h5>Staff</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Júlia Vitória</a></li>
            <li><a class="text-muted" href="#">Felipe Ramos</a></li>
            <li><a class="text-muted" href="#">Bruno Eduardo</a></li>
            <li><a class="text-muted" href="#">Alan Ricardo</a></li>
            
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Github</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://github.com/juliavpaiva">juliavpaiva</a></li>
            <li><a class="text-muted" href="https://github.com/felphlk">felphlk</a></li>
            <li><a class="text-muted" href="https://github.com/brunneves">brunneves</a></li>
            <li><a class="text-muted" href="https://github.com/AlanRicardoS">alanricardos</a></li>
          </ul>
        </div>
        
      </div>
    </footer>
    </body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
      $(function () {
        var nua = navigator.userAgent
        var isAndroid = (nua.indexOf('Mozilla/5.0') > -1 && nua.indexOf('Android ') > -1 && nua.indexOf('AppleWebKit') > -1 && nua.indexOf('Chrome') === -1)
        if (isAndroid) {
          $('select.form-control').removeClass('form-control').css('width', '100%')
        }
      })
      </script>
  
</html>
