<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/lesson.css">
    <title>Lessons</title>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
   
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
      <button class="navbar-toggler center" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon center"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="display: flex" > 
          <a href="{{ url_for('englix.home') }}" class="navbar-brand">
            <img src="../static/img/home-24px.svg" width=40 height="28" class="d-inline-block align-top" alt="">
            Home
          </a>
          <a class="navbar-brand" href="{{ url_for('englix.lessons') }}">
            <img src="../static/img/menu_book-24px.svg" width=40 height="28" class="d-inline-block align-top" alt="">
            Lessons
          </a>
          <a class="navbar-brand" href="{{ url_for('englix.lessons') }}">
            <img src="../static/img/card_membership-24px.svg" width=40 height="28" class="d-inline-block align-top" alt="">
            test your level
          </a>
          
          </ul>
          <ul class="navbar-nav " style="display: flex" > 
          <a class="navbar-brand " type="submit">
          <img src="../static/img/supervised_user_circle-24px.svg" width=40 height="28" class="d-inline-block align-top" alt="">
            {{ name }}
        </a>
        <a href="{{ url_for('englix.logout') }}" class="navbar-brand" type="submit">
          <img src="../static/img/exit_to_app-24px.svg" width=40 height="28" class="d-inline-block align-top" alt="">
            Logout
        </a>
      </ul>
      </div>
    </nav>
      
          
        <div class="container">
            
            <div class="Englix" >
            <a class="navbar-brand" id="title-1" href="#"><img src="../static/img/englix.png" style="width: 200px;"></a>
          </div>
       <br><br><br>
        
       <h1 style="font-size: 45px;"><b> Lesson {{ lesson.id }} - {{ lesson.name }}  </b></h1>

       {% if lesson.activities %}
          
          {% for activity in lesson.activities %}
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="heading{{activity.id}}">
                  <h2 class="mb-0">
                    
                    <button class="btn btn-link btn-block text-left collapsed"  type="button" data-toggle="collapse" style="padding: 1px 2px ;" data-target="#collapse{{activity.id}}" aria-expanded="true" aria-controls="collapse{{activity.id}}">
                      <b style="font-size: 30px; color: rgb(229,9,20);"> Activity {{ activity.id }}</b> 
                    </button>
                  </h2>
                </div>
            
                <div id="collapse{{activity.id}}" class="collapse" aria-labelledby="heading{{activity.id}}" data-parent="#accordionExample">
                  <div class="card-body">
  
                        {% include  activity.content_file %}


                        {% for quiz in activity.quizes %}
                          <form >
                              <fieldset>
                                <legend id="lessons"> {{ quiz.content }} </legend>

                                {% for answer in quiz.answers %}
                                <form >
                                  <div>
                                    <input type = "radio" id="{{ answer.id }}" name = "answer" valor = "{{ answer.id }}" value= "{{answer.answer_type}}">
                                    <label for = "answer{{ loop.index }}"> {{ answer.content }} </label>
                                    <meta id="my-data" data-name="{{answer.id}}" data-other="{{other}}">
                                  </div>
                                  
                                {% endfor %}
                                  <div>
                                    <button id="button" type="reset"  onClick="RespotaCerta()" class="btn">Check Answer</button> 
                                    
                                  </div>
                                </form>
                                  <br>
                              </fieldset>            
                          </form>	
                         		
                        {% endfor %}

                  </div>
                  
                </div>


              </div>
            </div>
          {% endfor %}
        {% else %}
            
          <h5 class="card-text">No lessons available</h5>
        {% endif %}
        
          
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="row">
            <div class="col-12 col-md">
              <img class="mb-2" src="../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
              
            </div>
            <div class="col-6 col-md">
              <h5>Staff</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Júlia Vitória</a></li>
                <li><a class="text-muted" href="#">Felipe Ramos</a></li>
                <li><a class="text-muted" href="#">Bruno Eduardo</a></li>
                <li><a class="text-muted" href="#">Alan Ricardo</a></li>
                
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Github</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://github.com/juliavpaiva">juliavpaiva</a></li>
                <li><a class="text-muted" href="https://github.com/felphlk">felphlk</a></li>
                <li><a class="text-muted" href="https://github.com/brunneves">brunneves</a></li>
                <li><a class="text-muted" href="https://github.com/AlanRicardoS">alanricardos</a></li>
              </ul>
            </div>
            
          </div>
        </footer>
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <script>
      var el = $('#my-data').data().name;
      function RespotaCerta(){
        console.log(el);
        if (document.querySelector('input[name = answer]:checked')){
          console.log(document.querySelector('input[name = answer]:checked').value)
          if (document.querySelector('input[name = answer]:checked').value=="True"){
            return alert("Right Answer, good job!")
           }
           else{ 
            return alert("Wrong Answer, try again!")
           }
        }
      
     }
    </script>
    
    
  </body>
</html>

