<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <title>Hello, world!</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
      <button class="navbar-toggler center" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon center"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="display: flex" > 
          <a class="navbar-brand" href="#">
            <img src="../static/img/home-24px.svg" width=40 height="28" class="d-inline-block align-top" alt="">
            Home
          </a>
          <a class="navbar-brand" href="#">
            <img src="../static/img/menu_book-24px.svg" width=40 height="28" class="d-inline-block align-top" alt="">
            Lessons
          </a>
          
          </ul>
        
          <a class="navbar-brand my-2 my-sm-0" type="submit">
          <img src="../static/img/supervised_user_circle-24px.svg" width=40 height="28" class="d-inline-block align-top" alt="">
            User
        </a>
      </div>
    </nav>
    <div class="container">
      <div class="mx-auto" style="width: 20%">
    <a class="navbar-brand" id="title-1" href="#"><img src="../static/img/englix.png" style="width: 200px;"></a>
  </div>
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-bold">Irish Culture Week</h1>
        <h4 class="lead my-3">Nesta semana iremos reporta um pouco mais da cultura irlandesa e aprenderemos um pouco mais sobre as pronuncias e maneira sobre diálogos.</h4>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Read More</a></p>
       
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2" style="color: rgb(229,9,20);">Lessons</strong>
            <h3 class="mb-0">Your Lessons Waiting for you</h3>
            
           <br>
            <button type="button" class="btn" style="background-color: rgb(229,9,20);"><a href="#" class="stretched-link text-light">Go to Lessons</a></button>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img " width="200" height="250"  xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 " style="color: rgb(229,9,20);">Augmented Reality</strong>
            <h3 class="mb-0">Post title</h3>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          </div>
        </div>
      </div>
    </div>

</div>  
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-4 mb-4 font-italic border-bottom">
            From the Firehose
          </h3>
        </div><!-- /.blog-main -->
    
        <aside id="side" class="col-md-4 blog-sidebar">
          <div class="p-4">
            <h4 class="font-italic">Old Lessons</h4>
            <ol class="list-unstyled mb-0">
              <li><a id="sideb" href="#">March 2020</a></li>
              <li><a id="sideb" href="#">February 2020</a></li>
              <li><a id="sideb" href="#">January 2020</a></li>
              <li><a id="sideb" href="#">December 2019</a></li>
              <li><a id="sideb" href="#">November 2019</a></li>
              <li><a id="sideb" href="#">October 2019</a></li>
              <li><a id="sideb" href="#">September 2019</a></li>
              <li><a id="sideb" href="#">August 2019</a></li>
              <li><a id="sideb" href="#">July 2019</a></li>
              <li><a id="sideb" href="#">June 2019</a></li>
              <li><a id="sideb" href="#">May 2019</a></li>
              <li><a id="sideb" href="#">April 2019</a></li>
            </ol>
          </div>

        </aside><!-- /.blog-sidebar -->
    
      </div><!-- /.row -->
    
    </main><!-- /.container -->
    
    <footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
    </body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
      $(function () {
        var nua = navigator.userAgent
        var isAndroid = (nua.indexOf('Mozilla/5.0') > -1 && nua.indexOf('Android ') > -1 && nua.indexOf('AppleWebKit') > -1 && nua.indexOf('Chrome') === -1)
        if (isAndroid) {
          $('select.form-control').removeClass('form-control').css('width', '100%')
        }
      })
      </script>
  
</html>